

@font-face {
  font-family: myFirstFont;
  src: url(AlimamaFangYuanTiVF-Thin.woff2);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: myFirstFont;
}

body{
  background-image: url('11@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Muli', sans-serif;


}