@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url('11@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Muli', sans-serif;


}