.weather-card{
    display: flex;
    background: rgb(245, 245, 245);
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 90%;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 15vh;
    left: 5%;
}